header {
    background-color: #ffffff; /* Set background color of header */
    padding:10px; /* Add padding for better appearance */
}

.logo img {
    width: 10px; /* Adjust the width of your logo */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
}
